For any of the following, you may find it useful to use the following methods:

* strings
  * `split`
  * `join`
* lists
  * `append`
  * `insert`
  * `reverse`

# Python exercises

Basic math:

1. Do at least three mathematical calculations with each of `+`, `-`, `*`, `/`, and `%`.

* Assign a number to the variable `a`.
* Determine whether `a` is even or odd and print out an appropriate message.

Make a new list `a` that has the following values: [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

1. print the list
2. print the 0th element 
3. print the 5th element 
4. print the last element 
5. print the length
6. print all the elements
7. print all the elements less than 8
8. Use this list to make a new list that has all the elements less than 5 from this list in it and print out this new list.

Make the two lists:    
* a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
* b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

1. print out all the elements that are contained in both lists
2. print out the elements that are contained in either list a or list b but not both
3. generate two more lists and test your method on those

Make a list of numbers (for example, a = [5, 10, 15, 20, 25]) and use this variable to print a new list that contains only the first and last elements of list a.

1. Make a dictionary that has person names as keys and their birthday dates as values.  
1. Once you have the dictionary, write a line of code that adds a new person to the dictionary
1. Select a person, and then use only the dictionary and the person's name to print out a message that contains their birthday date.
2. Print out a happy birthday message to every person in the dictionary.
1. Define a new variable that contains a person's name, and print out whether that person is in your dictionary.
1. Define a new variable that contains a person's birthday date, and print out whether that date is one of the birthday date's in your dictionary.

Write a function that returns the string "Hello, World!" and execute it.

Write a function that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) and prints a new list of only the first and last elements of the given list.

Write a function that takes an integer as its argument and then prints out that many Fibonnaci numbers. 

(Note: The Fibonnaci seqence is a sequence of numbers where the next number in the sequence is the sum of the previous two numbers in the sequence. The sequence looks like this: 1, 1, 2, 3, 5, 8, 13, ...)

Write a function that determines if a string is a palindrome (spelled the same forwards and backwards).  Make sure to test it out on several examples.

Write a function that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

Write a function that takes a sentence and prints it out with the words in backwards order.

Bonus: there are several ways to do this.  Try find at least two.

Make a dictionary with at least three keys, and for each key, make the values for each key a list of common length at least 3 elements long.  Make sure at least one of the value lists contains numerical data and one contains string data.

Convert that dictionary into a Pandas dataframe.

Use `loc` to:
* Print out one of the middle columns.
* Print out the third row.
* Print out the elements that are in both the first column and the second and third rows.

Use `iloc` to:
* Print out one of the middle columns.
* Print out the third row.
* Print out the elements that are in both the first column and the second and third rows.

Make a line plot of a column that contains numerical data.

Make a bar plot of two of the columns, one that contains strings and one that contains numbers.

Add a new column to the dataframe that contains some duplicate entries.

Using groupby on this column with some duplicate entries, find the sum of numbers in a column with numerical values that are grouped according to the duplicate entries.

* That is, if you have one column like [1, 2, 3, 4, 5] and one column like ['a', 'b', 'a', 'b', 'c'], you should get back a table containing rows like ['a',4], ['b',6], ['c',5]